# Copyright (c) 2025-2026 BlackRoad OS, Inc. All Rights Reserved.
name: Release

on:
  push:
    tags: ['v*']

jobs:
  release:
    runs-on: [self-hosted, pi]
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: actions/setup-node@1d0ff469b7ec7b3cb9d8673fde0c81c44821de2a
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm run build
      - run: npm pack
      - uses: softprops/action-gh-release@v2
        with:
          files: '*.tgz'
